$original-position: 0;
$move-direction-out-positive: 100%;
$move-direction-out-negative: -100%;

.sidebar {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 10px;
  overflow-y: auto;
}

.sidebar.top,
.sidebar.left,
.sidebar.right {
  top: 0;
}

.sidebar.top,
.sidebar.left,
.sidebar.bottom {
  left: 0;
}

.sidebar.left {
  transform: translateX($move-direction-out-negative);
}

.sidebar.right {
  right: 0;
  transform: translateX($move-direction-out-positive);
}

.sidebar.top {
  transform: translateY($move-direction-out-negative);
}

.sidebar.bottom {
  bottom: 0;
  transform: translateY($move-direction-out-positive);
}

.sidebar.left.open,
.sidebar.right.open {
  transform: translateX($original-position);
}

.sidebar.top.open,
.sidebar.bottom.open {
  transform: translateY($original-position);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.close-button {
  width: 100%;
  margin-bottom: 20px;
}

.content {
  padding: 20px;

  &-full-width {
    width: 100%;
  }
  &-half-width {
    width: 50%;
  }
}

.container-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
